* {
    border: 1px solid red; 
}

body{
    background-color: whitesmoke; 
}

nav {
    display: flex;
}

#primary {
    background-color: rgb(246, 237, 237);
}

a{
    background-color: lightblue; 
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px; 
    margin: 5px;
}

a:hover {
    background-color: darkgrey; 
    color: white; 
}

h1 {
    font-size: 1em;
}

img {
    width: 80%;

}

.background {
    background-color: lightgrey; 
}